extends layout.pug

block content
  table.table.table-striped.table-hover
    thead.text-center
      tr
        th(scope="col")
        th(scope="col") 佔比
        th(scope="col") 原始分數
    tbody.text-center
      each grade in grades
        tr
          th(scope="row")= grade.title
          td= grade.percent
          td= grade.score